﻿@model PassionProject.Models.ViewModels.ReviewEdit

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<form method="POST" action="/Review/Edit/@Model.review.ReviewID">
    <div class="inprow">
        <label class="inplabel">Title</label>
        <input type="text" value="@Model.review.ReviewTitle" id="ReviewTitle" name="ReviewTitle" />
    </div>
    <div class="inptrow">
        <label class="inplabel">Item</label>
        <select id="ReviewItem" name="ReviewItem">
            @foreach (var item in Model.items)
            {
                <option value="@item.ItemID"
                        @if (item.ItemID == Model.review.item.ItemID) { var selected = "selected"; @selected ; }>
                    @item.ItemName 
                </option>
            }
        </select>
    </div>
    <div class="inprow">
        <div class="inplabel">Content</div>
        <textarea id="ReviewBio" name="ReviewBio">@Model.review.ReviewBio</textarea>
    </div>
    <div class="inprow">
        <input type="submit" value="Submit" />
    </div>
</form>


