﻿@model IEnumerable<PassionProject.Models.Review>

@{
    ViewBag.Title = "List";
}

<div class="banner" id="blogbanner">
    <h2>Add reviews</h2>
</div>


<div class="recadd">
    @Html.ActionLink("Start Writing!", "New", "Review")
</div>
<div class="reccontainer" style="overflow:hidden;">
    @foreach (var review in Model)
    {

        <div class="rec">
            <label>@Html.ActionLink(review.ReviewTitle, "Show/" + review.ReviewID)</label>
            @if (review.item != null)
            {
                <span>By: @review.item.ItemName</span>
            }
            <p>@review.ReviewBio</p>
            <span class="del">@Html.ActionLink("[ x ]", "Delete/" + review.ReviewID)</span>
        </div>

    }
</div>



