﻿@model PassionProject.Models.ViewModels.ReviewEdit

@{
    ViewBag.Title = "New";
}

<h2>New</h2>

<form method="POST" action="/Review/Create">
    <div class="inprow">
        <label class="inplabel">Title</label>
        <input id="ReviewTitle_New" name="ReviewTitle_New" />
    </div>
    <div class="inptrow">
        <label class="inplabel">Item</label>
        <select id="ReviewItem_New" name="ReviewItem_New">
            @foreach (var item in Model.items)
            {
                <option value="@item.ItemID">@item.ItemName @item.ItemName</option>
            }
        </select>
    </div>
    <div class="inprow">
        <div class="inplabel">Content</div>
        <textarea id="ReviewBio_New" name="ReviewBio_New"></textarea>
    </div>
    <div class="inprow">
        <input type="submit" value="Submit" />
    </div>


</form>

