﻿@model PassionProject.Models.Review

@{
    ViewBag.Title = "Show";
}

<h2>Review @Model.ReviewTitle</h2>
<div>
    @Html.ActionLink("Edit", "Edit/" + Model.ReviewID)
</div>
<p>@Model.ReviewBio</p>

<h3>Articles in this blog</h3>

