﻿@model PassionProject.Models.Item

@{
    ViewBag.Title = "Item_Add";
}

<h2>Add Item</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Item</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.ItemName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ItemName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ItemName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ItemDetails, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ItemDetails, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ItemDetails, "", new { @class = "text-danger" })
        </div>
    </div>

 
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input id="Upload" style="Z-INDEX: 102; LEFT: 104px; WIDTH: 288px;POSITION: absolute; TOP: 10px; HEIGHT: 22px" type="file" size="28" name="Upload" runat="server">
            <input type="submit" value="Create" class="btn btn-default" />
         
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
