﻿@model PassionProject.Models.Item

@{
    ViewBag.Title = "Item_Details";
}

<h2>Item_Details</h2>

<div>
    <h4>Items</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ItemName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemDetails)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemDetails)
        </dd>

    </dl>

  
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ItemID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
