﻿@model IEnumerable<PassionProject.Models.Item>

@{
    ViewBag.Title = "Index";
}

<h2>All Items</h2>

<div class="recadd">
    @Html.ActionLink("Add New", "Create")
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ItemName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemDetails)
        </th>
        <th></th>
    </tr>

    @foreach (var i in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => i.ItemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => i.ItemDetails)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = i.ItemID }) |
                @Html.ActionLink("Details", "Details", new { id = i.ItemID }) |
                @Html.ActionLink("Delete", "Delete", new { id = i.ItemID }) |
                @Html.ActionLink("Upload image", "Details", new { id = i.ItemID })
            </td>
        </tr>
    }

</table>
