﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sell your clothes and earn cash! </h1>
    <p class="lead">Be honest — do you really wear all the clothes in your closet? Most of us hold onto outfits long after we’ve stopped wearing them. Why not sell those clothes and make some extra cash?</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        
    </div>

</div>